<div class="container text-center">    
    <div class="row">
        <!-- crear autenticacion 
            https://github.com/plataformatec/devise 

        -->
        <div class="col col-sm-12 col-md-6">
            <div class="row txt-logo">
                <div class="col col-sm-4 col-sm-offset-4 ">
                    <div class="txt-logo-1">BS</div>
                    <div class="txt-logo-2">Urbano</div>
                </div>
                <div class="trapecio-top"></div>
                <div class="trapecio-button"></div>
            </div>        
        </div>        
        <div class="col col-sm-12 col-md-6">
            <div class="row buttons">
                <div class="col col-sm-4 col-sm-offset-4">
                    <a href="/login" class="btn btn-default login">Inicio de Sesi&oacute;n</a>
                </div>
                <div class="col col-sm-4 col-sm-offset-4">
                    <a href="/register" class="btn btn-success register">Registrate</a>
                </div>
            </div>        
        </div>
    </div>
</div>