<% if user_signed_in? %>
  <li class="btn btn-danger">
  <%= link_to('Logout', destroy_user_session_path, method: :get) %>        
  </li>
<% else %>
  <li class="hide">
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>