<%= form_with(model: ruta, local: true, url: rutas_path) do |form| %>
  <% if ruta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ruta.errors.count, "error") %> prohibited this ruta from being saved:</h2>

      <ul>
      <% ruta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
